.main-container::before,
.main-container::after {
  background: linear-gradient(180deg, #fbfcfe -10.38%, #ffd1d6 19.32%, #d2cbff 57.58%, #9cffe7 82.73%, #a6ffb4 105.86%);
  content: " ";
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
}

.main-container::after {
  background: linear-gradient(180deg, rgba(251, 252, 254, 0) 0%, #fbfcfe 100%);
}
.main-container.dark::before  {
  background: linear-gradient(180deg, rgba(251, 252, 254, 0) 0%, #000 100%);
}

.main-container.dark::after  {
  background: linear-gradient(180deg, rgba(251, 252, 254, 0) 0%, rgba(251, 252, 254, 0) 40%, #1a1e23 100%);
}
.main-content {
  border-radius: 20px;
  width: 95%;
  max-width: 1200px;
  min-height: calc(100vh - 270px);
  margin: 3% auto;
  margin-bottom: 0;
  z-index: 800;
  padding: 2% 2% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid transparent;
}

@media (min-width: 760px) {
  .projects-container {
    max-height: 41vh;
    min-height: 41vh;
    overflow-y: auto;
  }

  .main-content {
    width: 80%;
    margin: 120px auto;
    padding: 5% 5% 0;
  }
}

.parent__metric-container {
  container-name: parent-container;
  container-type: inline-size;
}

.child__filter-data-picker {
  flex-direction: row;
  z-index: 1000;
}
.child__container {
  align-items: center;
}

@container parent-container (max-width: 700px) {
  .child__container {
    align-items: center;
    flex-direction: column;
  }
  .child__filter-data-picker {
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 50px;
    padding: 4px;
  }
}
